#titulo_principal {
    color: #ffffff;
    background-color: #212227;
    padding: 100px;
    font-size: 100px;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

h1 {
    color: #ffffff;
    background-color: #212227;
    padding: 100px;
    font-size: 80px;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    text-align: center; 
}

h2 {
    color: #ffffff;
    font-size: 50px;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    background-color: #637074;
    padding: 15px 15px 15px 15px;
    margin: 10ṕx 50px 20px 50px;
    text-align: center;
    border-radius: 40px;
}

.botones {
    display: flex;
    justify-content: center;
}

.embebed {
    display: flex;
    justify-content: center;
}

.logos {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.form {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 30px;
    background: linear-gradient(#637074, #212227); 

}

.formulario {
    background-color: #21222780;
    padding: 30px;
    border-radius: 20px;
}

.formulario label {
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    color: #ffffff;
}

.formulario input {
    width: 100%;
    padding: 10px 0;
    color: #ffffff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 20px;
    ::
}

.btnSubmit {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border: none;
    text-transform: uppercase;
}

p{
    color: #746d75;
    font-size: 20px;
    font-family: 'Verdana', 'sans-serif';
    padding: 20px;
    margin: 20px;
    text-align: inherit;

}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

th {
    color: #ffffff;
    background-color: #212227;
    font-size: 20px;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    padding: 20px;

}

td {
    color: #494749;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

caption {
    color: #746d75;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    padding: 20px;
}

a:link {
    color:#746d75;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    background-color: white;
    text-align: center;
    font-size: 40px;
    padding: 40px;
    margin: 20px 20px 20px 20px;
    text-decoration: none;
}

a:visited {
    color: #746d75;
}

a:hover {
    color: white;
    background-color: #8693ab;
}

a:active {
    color: #6e0d25;
    text-decoration: wavy;
}