h1 {
    color: #6e0d25;
    font-size: 100px;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

p {
    color: #ffffb3;
    font-size: 50px;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    background-color: #dcab6b;
    padding: 15px;
    border: 10px solid #774e24;
    margin: auto 50px;
    text-align: center;
}