h1 {
    color: #6e0d25;
    font-size: 100px;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

p {
    color: #ffffb3;
    font-size: 50px;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    background-color: #dcab6b;
    padding: 15px;
    border: 10px solid #774e24;
    margin: 10ṕx 50px;
    text-align: center;
}

a:link {
    color:#6A381F;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    margin: 50px 50px 50px;
}

a:visited {
    color: #dcab6b;
}