h1 {
    color: #ffffff;
    background-color: #8c4843;
    padding: 100px;
    font-size: 100px;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    text-align: center;

}

h2 {
    color: #ffffff;
    font-size: 50px;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    background-color: #9e643c;
    padding: 15px 15px 15px 15px;
    margin: 10á¹•x 50px 20px 50px;
    text-align: center;
    border-radius: 40px;
}

p{
    color: #746d75;
    font-size: 20px;
    font-family: 'Verdana', 'sans-serif';
    padding: 20px;
    margin: 20px;
    text-align: inherit;


}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

th {
    color: #ffffff;
    background-color: #da9263;
    font-size: 20px;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    padding: 20px;

}

td {
    color: #494749;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

caption {
    color: #746d75;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
    padding: 20px;
}

a:link {
    color:#746d75;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    background-color: white;
    text-align: center;
    font-size: 40px;
    padding: 50px 50px 50px 50px;
    border: 10px coral;
    margin: 20px 20px 20px 40px;
    text-decoration: none;
}

a:visited {
    color: #746d75;
}

a:hover {
    color: white;
    background-color: #8c4843;
}

a:active {
    color: #6e0d25;
    text-decoration: wavy;
}